* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
  width: 300px;
  height: 300px;
  margin: 2em auto;
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 125px;
  height: 125px;
  background: #afa;
  background: black;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  background: lightblue;
  font-size: 1em;
}