* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-weight: normal;
}

li {
  list-style: none;
  display: inline-block;
}

/*********************/
/* Header */

header {
  width: 100%;
  margin: 0.5em auto;
}

h1 {
  text-align: center;;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
}

/*********************/
/* Score panel */

.score-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em auto;
  width: 100%;
  max-width: 500px;
}

.star {
  width: 1em;
  height: 1em;
  stroke-width: 2;
  stroke: black;
  fill: black;
}

.lost {
  fill: white;
}

/*********************/
/* Cards */

.table {
  width: 98vw;
  height: 98vw;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1.5%;
}

.card {
  position: relative;
  width: calc(85% / 4);
  height: calc(85% / 4);
}

.card.sample {
  margin: 1%;
  width: 12vmin;
  padding-top: 12vmin;
}

.sample-cards {
  /*width: 80%;*/
  width: 60vmin;
  max-width: 500px;
}

.back,
.front {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  border-radius: 5px;
  box-shadow: 3px 3px 10px;
}

.card .back {
  background: #3f7878;
  color: rgba(0, 0, 0, 0.3);
  transform: rotateY(0);
}

.card .front {
  background: #7ff2f2;
  color: rgba(0, 0, 0, 0.7);
  transform: rotateY(180deg);
}

.card.show .back {
  transform: rotateY(-180deg);
}

.card.show .front {
  transform: rotateY(0);
}

.card .icon {
  display: block;
  width: 80%;
  height: 80%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@keyframes matched {
  from {
    background-color: #7ff2f2;
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70% 
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    background-color: #b6f27f;
    transform: scale3d(1, 1, 1);
  }
}

.card.show.matched .front {
  animation-name: matched;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes not-matched {
  from,
  to {
    transform: translate3d(0, 0, 0);
    background-color: #7ff2f2;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }

  10%,
  90% {
    background-color: #f27f7f;
  }
}

.card.show.not-matched .front {
  animation-name: not-matched;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/*********************/
/* Modals */

.modal {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 300vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: top 0.3s;
}

/*.modal.choose {
  transition: all 0.3s;
}
*/
.win-message,
.choose-deck,
.help-info {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: white;
  text-align: center;
  line-height: 2em;
  padding: 0 1em;
}

.modal.show {
  top: 0;  
  transition: all 0.3s;
}

.modal.choose {
  left: -100vw;
}

.modal.help {
  left: -200vw;
}

.modal-item {
  margin: 1rem auto;
  max-width: 40em;
}

.decks {
  font-family: 'Open Sans', sans-serif;
  border: none;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 1rem;
}

/*********************/
/* Buttons */

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 20em;
}

button {
  padding: 0.5em 1em;
  background-color: #1ac393;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0.5em auto;
  font-size: 1rem;
  min-width: 5.5em;
}

.inactive {
  display: none;
}

/*********************/
/* Footer */

footer {
  font-size: 0.8rem;
  margin: 1rem auto;
  padding-top: 0.5em;
  text-align: center;
  border-top: 1px solid #9cbfb4;
  width: 90vw;
}

a {
  color: #1ac393;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*********************/
/* Layout */

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 100vh;
}

@media screen and (orientation: landscape) and (max-height: 620px) {

  body {
    max-height: 100vh;
    padding-bottom: 0;
    max-width: 900px;
    margin: 0 auto;
  }

  header,
  .score-panel,
  footer {
    width: calc(100% - 100vh);
  }

  .score-panel {
    height: 30vh;
    flex-direction: column;
  }

  .table {
    width: 98vh;
    height: 98vh;
    order: 1;
  }

  .buttons {
    width: 40%;
  }
}

@media screen and (min-height: 700px) {

  html {
    font-size: 22px;
  }
}

@media screen and (min-height: 900px) {

  html {
    font-size: 32px;
  }
}